.platform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.platform__left-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.platform__title {
    text-align: left;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 80px;
    line-height: 91.14px;
}

.platform__subtitle {
    text-align: left;
    font-family: 'Jura';
    font-weight: 300;
    font-size: 18px;
    line-height: 27.12px;
    margin-top: 10px;
}

.button-launch {
    font-family: 'Jura';
    font-size: 20px;
    width: 171px;
    height: 50px;
}

@media (max-width: 1200px) {
    .canvasId {
        height: 350px;
    }
}

@media (max-width: 1100px) {
    .canvasId {
        height: 300px;
    }

    .platform {
        align-items: center;
    }
}

@media (max-width: 800px) {
    .platform {
        flex-direction: column;
        align-items: center;
    }

    .platform__left-container {
        gap: 20px;
        align-items: center;
    }

    .platform__title {
        text-align: center;
    }

    .platform__subtitle {
        text-align: center;
    }

    .canvasId {
        width: 90%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .platform__subtitle {
        display: none;
    }
}