.marketing {
    position: relative;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.marketing__decoration {
    position: absolute;
    background-image: url('../../../public/img/marketing-decoration.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    left: 0;
    z-index: -1;
    top: 0;
}

.marketing__text-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.marketing__title {
    font-family: 'Jura';
    font-size: 63px;
}

.marketing__subtitle {
    font-style: 'Light';
    font-family: 'Jura';
    font-size: 24px;
    font-weight: 100;
}

@media (max-width: 600px) {
    .marketing__decoration {
        background-image: url('../../../public/img/marketing-decoration2.png');
        height: 950px;
    }
}

@media (max-width: 900px) {
    .marketing__decoration {
        /* background-position: 50% 50%;
        height: 1000px;
        width: 1000px; */
    }
}